<section class="banner">
    <h1>Edit Book</h1>
</section>
<section class="content">
    <div class="content_inner">
        <div class="form">
            <form action="/books/<%= book.id %>?_method=PUT" method="POST">
                <div class="form_box">
                    <%-include('_form_fields') %> 
                    <div class="box_btn">
                        <button type="submit" class="btn btn--primary">Update</button>
                    </div>
                    <div class="box_btn">
                        <a href="/books/<%= book.id %>" class="btn btn--dark">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>